# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Pytest / unit test
.pytest_cache/
.pytest_cache/
.cache/
.cache/
htmlcov/
.tox/
.nosenv/
.noseids/
.coverage
.coverage.*
.coveragerc
nosetests.xml
coverage.xml
*.cover
*.gcov
.hypothesis/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Log files
*.log
app.log

# VS Code / IDEs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
